<div class="col-md-12">
    <div class="container custom-container-2">
      <h3 class="mb-3 text-center">Flights list</h3>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Departure date</th>
          <th scope="col">Arrival</th>
          <th scope="col">Ticket price</th>
          <th scope="col">Places number</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let flight of Flights">
        <td>{{flight.id}}</td>
        <td>{{ flight.departureDateTime | date: 'MM/dd/yyyy hh:mm'}}</td>
        <td>{{ flight.arrivalDateTime | date: 'MM/dd/yyyy hh:mm'}}</td>
        <td>{{flight.ticketPrice}}</td>
        <td>{{flight.placesNumber}}</td>
        <td>
          <a routerLink="/edit-flight/{{flight.id}}">
            <button type="button" class="btn btn-primary">Edit</button>
          </a>
          <button type="button" class="btn btn-danger" (click)="deleteFlight(flight.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
